<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630744766624-rkeajklflb5i7esd0viv30d8msu31sr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630744766624-rkeajklflb5i7esd0viv30d8msu31sr5</string>
	<key>API_KEY</key>
	<string>AIzaSyDPp0SXihXcxQGSETVNGbrYM9tBKt1hnUY</string>
	<key>GCM_SENDER_ID</key>
	<string>630744766624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FairAppTest</string>
	<key>PROJECT_ID</key>
	<string>positive-rush-276301</string>
	<key>STORAGE_BUCKET</key>
	<string>positive-rush-276301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630744766624:ios:a7f39a0b3d6476d88811c5</string>
	<key>DATABASE_URL</key>
	<string>https://positive-rush-276301.firebaseio.com</string>
</dict>
</plist>